<% provide(:title, "About Us") %>
<style>
#about-body {
    width: 40em;
    margin: 0 auto 0 auto;
}
</style>
<div id="about-body" class="d-flex-inline flex-column">
    <div class="d-flex justify-content-center">
        <a href="https://github.com/andmikey">
            <img src="https://avatars0.githubusercontent.com/u/31766607?s=300&v=4" height="200" width="200" class="m-2 mr-0 rounded"/>
        </a>
        <a href="https://dylant.org">
            <img src="https://dylant.org/profile.jpg" height="200" width="200" class="m-2 rounded"/>
        </a>
    </div>
    <h4>Who made this?</h4>
    <p>A few students from the University of Edinburgh, <a href="https://github.com/andmikey">Mikey Andrews</a> and <a href="https://dylant.org">Dylan Thinnes</a>. We started Jobber as a hackathon project in March, then decided to properly work on it in the long-term since we thought the program could prove especially useful to our job searches.</p>
    <p>After a while, we realized other people might like the idea as well, so here it is.</p>
</div>
