<% provide(:title, "About Us") %>
<h4>Who made this?</h4>
<p>A few students from the University of Edinburgh, <a href="https://github.com/andmikey">Mikey</a> and <a href="https://dylant.org">Dylan</a>. We started Jobber as a hackathon project in March, then decided to properly work on it in the long-term since we thought the program could prove especially useful to our job searches.</p>
<p>After a while, we realized other people might like the idea as well, so here it is.</p>
