<% provide(:title, "Survey") %>
<style>
#survey-body {
    max-width: 40em;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}
.form-group > label {
    font-size: 18px;
    font-weight: bold;
}
.custom {
    display: flex;
    align-items: center;
}
.remove {
    height: 14px;
    width: 14px;
    padding: 0;
    margin-right: 6px;
    line-height: 12px;
    flex: 0 0 auto;
}
.pager .page {
    display: none;
}
.pager .page.showing {
    display: block;
}
</style>
<div id="survey-body" class="h-100 pager p-2 d-flex flex-column">
    <div class="auto-overflow yes-flex mb-2 ">
        <form>
            <div class="page">
                <h3 class="text-center">Welcome to our Survey</h3>
                <p>This survey is composed of three parts, each about 30 seconds to 2 minutes in length. Total time of completion is 2-5 minutes.</p>
                <p>This survey is designed to help us understand a few aspects of how people manage the job application process, in order to guide Jobber's development so that it actually meets your needs and wants.</p>
                <p>The survey data is completely anonymously collected, which is why the survey isn't a Google Form. We consider privacy to be a fundamental human right, and couldn't guarantee that right to you unless we wrote the survey entirely by ourselves.</p>
            </div>
            <div class="page">
                <h3 class="text-center">Section 1</h3>
                <div class="form-group">
                    <label>When searching for a job, roughly how many separate job applications do you tend to manage at any one time?</label>
                    <input required="true" type="number" class="form-control" max="100" min="1" value="1"/>
                </div>
                <div class="form-group" id="how-tracking">
                    <label>How do you normally keep track of your applications and their documents as you apply to them?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            Spreadsheets (Excel, Gnumeric, etc.)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            Word documents / Typed up files (.doc, .txt, etc.)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            Pen and Paper (Post-it-notes, etc.)
                        </label>
                    </div>
                </div>
            </div>
            <div class="page">
                <h3 class="text-center">Section 2</h3>
                <div class="form-group" id="extra-documents">
                    <label>What documents have been requested from you in past applications, aside from CVs?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            Cover letter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            Letter of recommendation
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            Work philosophy
                        </label>
                    </div>
                </div>
                <div class="form-group" id="document-creation-softwares">
                    <label>What programs or softwares do you use to create documents for applications?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            Word / Google Docs / Other Office Suite Software
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            LaTeX
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label">
                            InDesign / GIMP / Other Design and Artwork Software
                        </label>
                    </div>
                </div>
            </div>
            <div class="page">
                <h3 class="text-center">Section 3</h3>
                <div class="form-group">
                    <label>How many different CVs do you generally maintain at a given time?</label>
                    <input required="true" type="number" class="form-control" max="100" min="1" value="1"/>
                </div>
                <div class="form-group">
                    <label>How often do you update or change your CV's contents or layout?<br/>
                        <small class="text-muted text-normal">(Pick the first that applies.)</small>
                    </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="update-frequency" value="">
                        <label class="form-check-label">
                            For every job application
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="update-frequency" value="">
                        <label class="form-check-label">
                            Every time I acquire a new skill
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="update-frequency" value="">
                        <label class="form-check-label">
                            More than once a month
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="update-frequency" value="">
                        <label class="form-check-label">
                            More than once every 3 months
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="update-frequency" value="">
                        <label class="form-check-label">
                            More than once a year
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="update-frequency" value="">
                        <label class="form-check-label">
                            Less than once a year
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="no-flex d-flex justify-content-center">
        <div class="btn btn-themed border-0 mr-2 prev">&lt; Prev Section</div>
        <div class="btn btn-themed border-0 next">Next Section &gt;</div>
    </div>
</div>
<script>
function Pager (id) {
    this.id = id;
    this.node = document.getElementById(this.id);
    this.pages = document.getElementsByClassName("page");
    this.prev = this.node.getElementsByClassName("prev")[0];
    this.prev.addEventListener("click", this.prevPage.bind(this));
    this.next = this.node.getElementsByClassName("next")[0];
    this.next.addEventListener("click", this.nextPage.bind(this));

    this.setIndex(0);
}
Pager.prototype.setIndex = function (index) {
    if (this.index != undefined) {
        console.log(this.pages, this.index);
        this.pages[this.index].classList.remove("showing");
    }
    this.index = index;

    this.pages[this.index].classList.add("showing");

    this.prev.style.display = null;
    this.next.style.display = null;
    this.prev.innerHTML = "Prev Section";
    this.next.innerHTML = "Next Section";
    if (this.index === 0) {
        this.prev.style.display = "none";
        this.next.innerHTML = "Start the Survey";
    } else if (this.index === this.pages.length - 1) {
        this.next.innerHTML = "Submit Responses";
    }
}
Pager.prototype.nextPage = function () {
    if (this.index === this.pages.length - 1) return;
    this.setIndex(this.index + 1);
}
Pager.prototype.prevPage = function () {
    if (this.index === 0) return;
    this.setIndex(this.index - 1);
}

function Section (id) {
    this.id = id;
    this.node = document.getElementById(this.id);

    var addButton = document.createElement("div");
    addButton.innerHTML = "Don't see your option? Click to add another.";
    addButton.className = "btn btn-themed btn-sm mt-2 w-100 border-0";
    addButton.addEventListener("click", this.newCustomInput.bind(this));
    this.addButton = addButton;
    this.node.appendChild(addButton);
}
Section.prototype.removeChild = function (child) {
    this.node.removeChild(child);
}
Section.prototype.newCustomInput = function () {
    var container = document.createElement("div");
    container.className = "custom mt-2";

    var remove = document.createElement("div");
    remove.className = "remove btn btn-outline-danger";
    remove.addEventListener("click", this.removeChild.bind(this, container));
    remove.innerHTML = "&times;";

    var input = document.createElement("input");
    input.type = "text";
    input.className = "form-control form-control-sm";
    input.placeholder = "Enter new option here...";

    container.appendChild(remove);
    container.appendChild(input);
    this.node.insertBefore(container, this.addButton);

    input.focus();
}

new Pager("survey-body");

new Section("how-tracking");
new Section("extra-documents");
new Section("document-creation-softwares");
</script>

