$primary: #FF9800;
$secondary: #0091EA;
$bg: #F8F8FF;

a {
    outline: none;
    text-decoration: none;
    font: inherit;
    color: inherit;
}

body {
    background-color: $bg;
    height: 100vh;
    overflow: hidden;
    #react-app {
        height: 100%;
        #toolbar {
            flex: 0 0 auto;
            background-color: $primary;
            .page-button {
                border-bottom-width: 5px;
                &:hover { background-color: #EF6C00; }
                &:active { background-color: #F57C00; }
                &.active {
                    background-color: #F57C00;
                    border-bottom-color: $secondary;
                }
            }
        }
        #page {
            height: 0;
            flex: 1 1 auto;
            > #list {
                height: 100%;
                margin-bottom: 5px;
                #listItems {
                    flex: 1 1 auto;
                    overflow-y: scroll;
                }
            }
            > #details {
                overflow-y: scroll;
            }
        }
        .editableItem {
            display: flex;
            flex-direction: column;
            &.inline { 
                flex-direction: row;
                align-items: center;
                > .controls {
                    padding-top: 0;
                }
            }
            > .title, .controls {
                flex: 0 0 auto;
            }
            > .controls {
                width: 130px;
                align-self: center;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-top: 5px;
            }
        }
    }
}
