$primary: #FF9800;
$secondary: #0091EA;
$bg: #F8F8FF;

body {
    background-color: $bg;
    #react-app {
        #toolbar {
            background-color: $primary;
            .page-button {
                &:hover { background-color: #EF6C00; }
                &:active { background-color: #F57C00; }
                &.focused {
                    border-bottom-color: $secondary;
                }
            }
        }
    }
}
